<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label>
        <h2>{{ user.name }} {{ user.surname }}</h2>
        <p>Age: {{ user.age }}</p>
      </ion-label>
      <ion-toggle [(ngModel)]="user.isActive" (ionChange)="toggleUserStatus(user.key, user.isActive)"></ion-toggle>
    </ion-item>
  </ion-list>
  <form (ngSubmit)="addMovie()">
    <ion-item>
      <ion-label position="floating">Movie Title</ion-label>
      <ion-input type="text" [(ngModel)]="newMovie.title" name="title" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Release Date</ion-label>
      <ion-input type="date" [(ngModel)]="newMovie.release_date" name="release_date" required></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block">Add Movie</ion-button>
  </form>
</ion-content>